{% extends "plantillaBase.php.twig" %}

{% block contenido %}
    <p style="color: white">ANUNCIO </p><br/>
    <form method="GET" action="index.php" class="form">
        <input type="hidden" name="con" value="Anuncio"/>
        <input type="hidden" name="ope" value="add"/>
        <input type="hidden" name="idUsu" value="{{ idUsu }}"/>

         <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Cabecera </label>

                <input class="form-control" type="text" name="Cabecera" 
                       placeholder="Cabecera"  />
            </div>
        </div>
         <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Marca </label>

                <input class="form-control" type="text" name="Marca" 
                       placeholder="Marca"  />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Modelo </label>

                <input class="form-control" type="text" name="Modelo" 
                       placeholder="Modelo"  />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Color </label>

                <input class="form-control" type="text" name="Color" 
                       placeholder="Color"  />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Año </label>

                <input class="form-control" type="number" name="Anio" 
                       placeholder="Año"  />
            </div>
        </div>


        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Kilometros</label>

                <input class="form-control" type="number" name="Kilometro" 
                       placeholder="Kilometros" />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Imagen</label>

                <input class="form-control" type="text" name="Imagen" 
                       placeholder="Url Imagen"  />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Precio </label>

                <input class="form-control" type="number" name="Precio" 
                       placeholder="Precio"  />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Telefono </label>

                <input class="form-control" type="text" name="Telefono" 
                       placeholder="Telefono"  />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" >Combustible </label>

                <input class="form-control" type="text" name="Combustible" 
                       placeholder="Combustible"  />
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4 mx-auto">
                <label style="color: white" for="Descripcion">Descripción: </label>
                <textarea class="form-control"  rows="5" name="Descripcion"></textarea><br/>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mx-2 my-2">Comentar</button>

    </form>
    <a href="index.php?con=Anuncio&ope=listar"><button class="btn btn-danger">Cancelar</button></a>
{% endblock %}