{% extends "plantillaBase.php.twig" %}

{% block head %}
    <!--Fabio Benitez Ramirez-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    
    <style>

        #otro{
            display: none;
        }

    </style>


{% endblock %}


{% block contenido %} 

    <div class="row">
        <div class="col-sd-12 mx-auto">
            <img class="logo" src="./imagenes/logo.svg" alt="ForoCarros" />
        </div>
    </div>

    <form method="get" action="/index.php" >
        <input type="hidden" name="con" value="comentario"/>
        <input type="hidden" name="ope" value="add"/>
        <input type="hidden" name="idUsu" value="{{ idUsu }}"/>
        <input type="text" name="cod" value={{id}}>

        <label><strong>Favorito:</strong></label>
        <select name="desplegable"  id="desplegable">

            <option value=0>No</option>
            <option  value=1>Si</option>





        </select> 





        <br/>

        <div class = "widget-area no-padding blank">
            <div class = "status-upload">

                <textarea name="comentario" type="text" placeholder = "Escribe un comentario" style="width:100%;height:150px;padding:1%;font-size:1.2em;"></textarea>
                <input  name="id" type="hidden" value="1">
                <button type = "submit" class = "btn btn-success green"><i class = "fa fa-share"></i> Enviar</button>

            </div><!--Status Upload -->
        </div><!--Widget Area -->







    </form>





</div>


{% endblock %}