<!DOCTYPE html>
<html>
    <head>
        <title>Petrol Head</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="./fontawesome/css/all.css" rel="stylesheet">
         <link rel="stylesheet" href="estilos/login.css">
    {% block script %}{% endblock %}
</head>

       <body class="card text-dark bg-dark mb-3">



        {% block titulo %}{% endblock %}

        {% block contenido %}
        {% endblock %}

    

</body>
</html>