{% extends "plantillaBase.php.twig" %}

{% block titulo %}
    <!--Fabio Benitez Ramirez-->
        <link rel="stylesheet" href="estilos/multimedia.css">

{% endblock %}

{% block contenido %}





    <section class="section section-b">
        <div class="container">
            <h2>Quienes Somos</h2>
            <p>Esta pagina esta realizada como trabajo de final de grado para el Ciclo Formativo de Desarrollo de Aplicaciones Web, esta realizada con leguajes como php , javascript , jquery y css , para la mayoria de estilos he utilizado bootstrap, esta pagina tiene como finalidad aprender mas sobre el mundo del motor para ello tenemos un apartado de noticias y un for en el cual podras preguntar tus dudas y que los usuarios te las resuelvan . admenas hay un compra venta pos si de paso estas buscando algun coche. </p>

        </div>
        <div>
            <div class="wrapper">

                <h2>Videos</h2>
                <div class="embed-responsive embed-responsive-16by9"> 
                        
                        <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/KyS2Wckan90" frameborder="3" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>


                <h2>Audios </h2>

                <audio controls width="800px">
                    <source src="imagenes/GTRsound.mp3"
                            type="audio/mp3">
                </audio>

            </div>

    </section>







{% endblock %}