{% extends "plantillaBase.php.twig" %}

{% block contenido %}
    </p><br/>
    <form method="GET" class="form">
        <input type="hidden" name="con" value="respuesta"/>
        <input type="hidden" name="ope" value="add"/>
        <input type="hidden" name="idUsu" value="{{ idUsu }}"/>
        <input type="hidden" name="idHilo" value="{{ codigoHilo }}"/>
             
                <label class="col-form-label" for="nombre" style="color: white">Escribe tu comentario nuevo (max. 300 caracteres)</label>
                <textarea class="form-control" maxlength="300" rows="5" name="texto" required></textarea><br/>
          
       
        <button type="submit" class="btn btn-primary mx-2 my-2">Comentar</button>
        <a href="?con=t&ope=ver&idUsu={{ idUsu }}&idPos={{ idPos }}"><button class="btn btn-danger">Cancelar</button></a>
    </form>
    
{% endblock %}