{% extends "plantillaBase.php.twig" %}

{% block contenido %}
    <p>Escribe tu post </p><br/>
    <form method="GET" class="form">
        <input type="hidden" name="con" value="Respuesta"/>
        <input type="hidden" name="ope" value="edit"/>
         <input type="hidden" name="idHilo" value="{{ idHilo }}"/>
        <input type="hidden" name="idRes" value="{{res.idRes }}"/>
        <input type="hidden" name="idUsu" value="{{ idUsu }}"/>
      
        <label for="Descripcion">Texto: </label>
        <textarea class="form-control"  rows="5" name="texto">{{ res.texto}}</textarea><br/>
        <button type="submit" class="btn btn-primary mx-2 my-2">Comentar</button>
        <a href="index.php?con=Hilo&ope=listar"><button class="btn btn-danger">Cancelar</button></a>
    </form>

{% endblock %}