<!DOCTYPE html>
<html>
    <head>
        <title>ForoCarros</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
    {% block script %}{% endblock %}
</head>

        {% block titulo %}{% endblock %}

        {% block contenido %}
        {% endblock %}

    </div>

</body>
</html>