
{% extends "plantillaBase.php.twig" %}


{% block titulo %}
    <!--Fabio Benitez Ramirez-->
    <h1 class="mt-4">Login</h1>
{% endblock %}

{% block contenido %}




    <div class="row">
        <div class="col-sd-12 mx-auto">
            <img class="logo" src="./imagenes/logo2.png" alt="ForoCarros" />
        </div>
    </div>

            <form method="get" action="index.php" >
                <input type="hidden" name="ope" value="registro"/>
                <input type="hidden" name="con" value="Login"/>

                <div class="row form-group">
                    <div class="col-md-4 mx-auto">
                        <label class="col-form-label" for="email">Nombre de usuario:</label>
                        <input class="form-control" type="email" name="email" 
                               placeholder="email@foroCarros.com" required />
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-md-4 mx-auto">
                        <label class="col-form-label" for="nombre">Nombre:</label>
                        <input class="form-control" type="text" name="nombre" required />
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-4 mx-auto">
                        <label class="col-form-label" for="apellidos">Apellidos:</label>
                        <input class="form-control" type="text" name="apellidos" required />
                    </div>
                </div>

                <!-- contraseña -->
                <div class="row form-group">
                    <div class="col-md-4 mx-auto">
                        <label class="col-form-label" for="pass">Contraseña:</label>
                        <input class="form-control" type="password" name="pass" 
                               required />
                    </div>
                </div>




                <div class="row form-group">
                    <div class="col-md-4 mx-auto">
                        <label class="col-form-label" for="fnac">Fecha de Nacimiento:</label>
                        <input class="form-control" type="date" name="fnac" />
                    </div>
                </div>


                <div class="row form-group">
                    <div class="col-md-4 mx-auto">
                        <button class="btn btn-primary w-100" type="submit">Registrar</button>
                    </div>
                </div>
            </form>


            <div class="row">
                <div class="col-md-4 mx-auto text-center">
                    <a href="index.php" class="btn btn-link">volver atrás</a>
                </div>
            </div>


        </div>


{% endblock %}